### Load the train dataset.

In [76]:
import os
import random
import pandas as pd

news = []
labels = []
i = 0

for directory in os.listdir("1150haber/raw_texts/"):
    for filename in os.listdir("1150haber/raw_texts/" + directory):
        f = open("1150haber/raw_texts/" + directory + "/" + filename, "r", encoding="windows-1254")
        new = f.read().replace("\n", " ")
        new = new.lower()
        news.append(new)
        labels.append(i)
        filenames.append(filename)
    i += 1
        
print(len(news))

data = {"Haber": news, "Sınıf": labels}
df_train = pd.DataFrame(data)
# df_train = df_train.sample(frac = 1).reset_index(drop=True)
df_train.sample(920).sort_index()

920

,Haber,Sınıf,Tokenized,File names
0,i̇mkb endeksi hafta başında 19.608 puanı gördü...,0,0,140.txt
1,yatırımcı başbakan'a ilanla seslendi kars'tak...,0,0,141.txt
2,"ulaştırma bakanlığı'nın, tek uçağı bulunan sag...",0,0,142.txt
3,merko gıda dört tesisini kiraladı oyakbank'a ...,0,0,143.txt
4,"ulaştırma bakanı binali yıldırım, aycell - ari...",0,0,144.txt
...,...,...,...,...
915,devler play-off’ta erkekler voleybol 1.ligi’...,4,0,Kopyas 396.txt
916,barışın ağır bedeli alın dijital alt yap...,4,0,Kopyas 397.txt
917,"hırsız, hietanen’in başını yaktı deni̇zli...",4,0,Kopyas 398.txt
918,luce’ni̇n i̇syani zago’nun pozisyon hatası y...,4,0,Kopyas 399.txt
919,"i̇yi, kötü ve çirkin i̇nönü’de tarihi bi...",4,0,Kopyas 400.txt

### Load mini train dataset.

In [129]:
import os
import random
import pandas as pd

news = []
labels = []
i = 0

for directory in os.listdir("1150haber/20 news/"):
    for filename in os.listdir("1150haber/20 news/" + directory):
        f = open("1150haber/20 news/" + directory + "/" + filename, "r", encoding="windows-1254")
        new = f.read().replace("\n", " ")
        new = new.lower()
        news.append(new)
        labels.append(i)
    i += 1
        
print(len(news))

data = {"Haber": news, "Sınıf": labels}
df_train = pd.DataFrame(data)
df_train["Haber"] = df_train["Haber"].apply(str)
df_train.sample(20)

100

                                                Haber  Sınıf
40  sağlık bakanı recep akdağ, kısa adı sabi̇m ola...      2
72  suçlu, ayağa kalk       artık kapatma davaları...      3
11  i̇stanbul - genç parti genel başkanı cem uzan,...      0
92  aybaba’ya destek   özkan sümer, tecrübeli hoca...      4
71  ab'ye karşı i̇kö resti       rumların, "ab de ...      3
67  shp lideri murat karayalçın, chp'nin yerel seç...      3
31  tuba ünsal ile cem cantaş'ın önceki hafta gizl...      1
45  mevsim değişikliklerinde sıkça karşılaşılan so...      2
29  hasreti bitiyor!         ebru şallı-harun tan ...      1
22  eğlence 'engel' tanımıyor...   sosyetenin gözd...      1
28  ruslana diplomatik kriz yarattı   eurovision b...      1
62  komutanlar ömer dinçer'i terletecek!       rej...      3
36  hande bikinili görüntü vermek istemedi   yaz o...      1
19  i̇ran: türkiye doğalgazda 2005'i beklemeli    ...      0
27  aşkı ikinci eşinde buldu   aşk, şebnem dinçgör...      1
50  fırat üniversitesi fırat tıp merkezi kadın has...      2
78  'ruhban okulu' formülü hazır  dışişleri bakanl...      3
51  çin ' de aids tedavi merkezi sonunda açıldı.. ...      2
54  genellikle yaz mevsiminde havuz ve deniz suyun...      2
8   i̇stanbul gaz dağıtım sanayi ve ticaret a.ş.'d...      0

### Load the test dataset.

In [130]:
import os
import random
import pandas as pd

news = []
labels = []
i = 0

for directory in os.listdir("1150haber/test/"):
    for filename in os.listdir("1150haber/test/" + directory):
        f = open("1150haber/test/" + directory + "/" + filename, "r", encoding="windows-1254")
        new = f.read().replace("\n", " ")
        new = new.lower()
        news.append(new)
        labels.append(i)
    i += 1
   
print(len(news))

data = {"Haber": news, "Sınıf": labels}
df_test = pd.DataFrame(data)
df_test["Haber"] = df_test["Haber"].apply(str)
#df_test = df_test.sample(frac = 1).reset_index(drop=True)
df_test.sample(230).sort_index()

230

                                                 Haber  Sınıf
0    ankara - türk telekom'un indirim reklamları sa...      0
1    tahran - i̇ran cumhurbaşkanı muhammed hatemi, ...      0
2    türkiye'den zam kararıyla ilgili yapılan açıkl...      0
3    ankara sanayi odası (aso) başkanı zafer çağlay...      0
4    yatırım yapan kazanacak  anadolu hayat emeklil...      0
..                                                 ...    ...
225  rallide buzlu start!   dünya ralli şampiyonası...      4
226  şampiyondan tanıtım       formula 1’de geçen y...      4
227  gunes’ten zeytin dali   milli takım hocası, dü...      4
228  erol taş attı       gökhan türe       futbol y...      4
229  çupi’yi andık       türk spor yazarlığı’nın du...      4

[230 rows x 2 columns]

## Preprocess

In [131]:
import string
import nltk
from nltk.tokenize import word_tokenize

# Remove punctuation
df_train["Haber"] = [news.translate(str.maketrans('', '', string.punctuation)) for news in df_train['Haber']]
df_train["Haber"] = [''.join([i for i in news if not i.isdigit()]) for news in df_train['Haber']]

df_train["Haber"] = df_train["Haber"].apply(str) # to lowercase
# df_train['Tokenized'] = [word_tokenize(entry) for entry in df_train['Haber']] # tokenize by words

In [132]:
# Remove punctuation
df_test["Haber"] = [news.translate(str.maketrans('', '', string.punctuation)) for news in df_test['Haber']]
df_train["Haber"] = [''.join([i for i in news if not i.isdigit()]) for news in df_train['Haber']]

df_test["Haber"] = df_test["Haber"].apply(str) # to lowercase
# df_test['Tokenized'] = [word_tokenize(entry) for entry in df_test['Haber']] # tokenize by words

In [133]:
X_train = df_train.Haber.tolist()
Y_train = df_train.Sınıf.tolist()

X_test = df_test.Haber.tolist()
Y_test = df_test.Sınıf.tolist()

In [134]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()

X_train_vec = count_vect.fit_transform(X_train)
X_test_vec = count_vect.transform(X_test)

In [135]:
X_train_vec.shape

(100, 9125)

In [136]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()

X_train_tfidf = tfidf_transformer.fit_transform(X_train_vec)
X_train_tfidf.shape

(100, 9125)

### Logistic Regression

In [137]:
from sklearn.linear_model import LogisticRegression

sklearn_model = LogisticRegression(C=1e3, solver="liblinear")
sklearn_model.fit(X=X_train_tfidf, y=Y_train)

print(f"Test Accuracy: {sklearn_model.score(X=X_test_vec, y=Y_test) * 100:.1f}%")

Test Accuracy: 68.7%

### Naive Bayes

In [138]:
from sklearn.metrics import accuracy_score
from sklearn import naive_bayes

# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(X_train_tfidf,Y_train)

# predict the labels on validation dataset
predictions_NB = Naive.predict(X_test_vec)

# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ", accuracy_score(predictions_NB, Y_test)*100)

Naive Bayes Accuracy Score ->  68.69565217391305

### SVM

In [139]:
from sklearn import svm
# Classifier - Algorithm - SVM
# fit the training dataset on the classifier

SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(X_train_tfidf, Y_train)

# predict the labels on validation dataset
predictions_SVM = SVM.predict(X_test_vec)

# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ", accuracy_score(predictions_SVM, Y_test)*100)

SVM Accuracy Score ->  68.26086956521739